body {
    background-image: url("../images/mill-falc.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: 'star_jedi_outlineregular';
    src: url('../images/starjout-webfont.woff2') format('woff2'),
         url('../images/starjout-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin-left: 65%;
    font-family: "star_jedi_outlineregular";
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
}

#title {
    width: 100%;
    padding: 15px 0 15px 0;
}

img {
    width: 125px;
    height: 85px;
}

#at-start {
    
    width: 100%;
}

.characters {
    margin: 10px;
    display: inline-block;
}

p {
    text-align: center;
}

h3 {
    font-family: "star_jedi_outlineregular";
    font-weight: normal;
    font-style: normal;
}